
.container{
border-style : 3px solid black;
margin: 40px 900px 0 400px;
border-radius : 13px;
padding-bottom : 70px;
}

#space{
	margin-bottom : 10px;;
}

#marg{
	margin-left: 15px;
}
#h1{
	
	font-size : 45px;
}
#h2{
	
	font-size : 25px;
}
