.body{
background-color : #B3B6B7 ;
}
.container{
background-color : #7B7D7D  ;
margin-top: 40px;
}
#space{
	margin-bottom : 10px;;
}

#marg{
	margin-left: 15px;
}
#h1{
	
	font-size : 45px;
}
#h2{
	
	font-size : 25px;
}
